@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Roboto&family=Staatliches&display=swap');
body{
    background-color: rgb(31, 27, 46);
}
*{
    margin: 0;
    padding: 0;
    font-family:Roboto;
    
}
nav{
    background-color: rgba(255, 255, 255, 0.103);
    height: 50px;
    border: 1px solid rgb(126, 126, 126);
    position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 50px; background-color: rgb(255, 25, 83); 
}
nav ul {
    padding-top: 15px;
    margin-left: 20px;
}
nav ul li{
    display: inline-block;
    margin-left: 20px;
}
nav ul li a{
    color: rgb(214, 214, 214);
    text-decoration: none;
}
nav ul li a:hover{
    transition: 2.5s;
    color: white;
    text-decoration: underline 3px;
}
.title-container{
    background-color: rgb(255, 0, 64);
    margin-left: 10%;
    margin-right: 10%;
}
#home h1{
    margin-top: 20px;
    color: rgb(201, 201, 201);
    
    text-align: center;
}
.text-container{
    margin-top: 100px;
    background-color: rgb(36, 36, 36);
    height: 500px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 20px;
    border: 2px solid rgb(126, 126, 126);
}
.text-container p{
    color: whitesmoke;
    font-size: 13.5px;
    margin-top: 50px;
    text-align: center;
}
.pfp{
    text-align: center;
}
.text-container img{
    border-radius: 50%;
    height: 200px;
    border: 3px solid rgb(126, 126, 126);
    margin-top: 20px;
}
/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #313131; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(209, 0, 52); 
   border-radius: 20px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(160, 0, 40); 
  }
  
/* MOBILE RESPONSIVE */
@media only screen and (max-width: 600px) {
.text-container{
    height: 600px;
    width: 275px;
    margin-left: 15%;
}
.text-container img{
    height: 175px;
}
}

@media only screen and (max-width: 350px) {
.text-container{
    width: 250px;
margin-left: 11.5%;

}
nav ul li a{
    font-size: 15px;
}
.text-container img{
    height: 175px;
}
}

@media only screen and (max-width: 300px) {
.text-container{
    width: 225px;
    margin-left: 10%;
    }
nav ul li a{
        font-size: 12.5px;
    }
nav ul{
        margin-left: 5px;
    }
}

#project{
    background-color: #1b1b1b;
    height: 500px;
}
.sterx{
    margin-left: 40%;
    background: linear-gradient(145deg, #4c4fff, #ff9100);
    width: 400px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid white;
    
}
.sterx h1{
    color: white;
    text-align: center;
    padding-top: 5px;
}
.sterx p{
    padding-left: 20px;
    color: rgb(235, 235, 235);
}
.sterx-link{
    text-decoration: none;
}
.discord-profil{
    margin-left: 40%;
    background: linear-gradient(145deg, #3a3dff, #c00040);
    width: 400px;
    height: 150px;
    border-radius: 20px;
    border: 2px solid white;
    
}
.discord-profil h1{
    color: white;
    text-align: center;
    padding-top: 5px;
}
.discord-profil p{
    padding-left: 20px;
    color: rgb(235, 235, 235);
}
.discord-link{
    text-decoration: none;
}
/*PROJECT RESPONSIVE*/

@media only screen and (max-width: 1100px) {
    .sterx{
     width: 300px;
     margin-left: 35%;
    }
    .discord-profil{
     width: 300px;
     margin-left: 35%;
    }
     }
/* iphone xr =<*/
@media only screen and (max-width: 600px) {
   .sterx{
    width: 300px;
    margin-left: 15%;
   }
   .discord-profil{
    width: 300px;
    margin-left: 15%;
   }
    }
    /*IPHONE 4*/
    @media only screen and (max-width: 350px) {
       
            .sterx{
             width: 225px;
             margin-left: 15%;
            }
            .discord-profil{
             width: 225px;
             margin-left: 15%;
            }
             
    }
.footer{
    margin-top: 350px;
    background-color: rgb(29, 27, 36);
    border: 1px solid rgb(126, 126, 126);
}
.container-text-center p{
    text-align: center;
    color: white;
}

span a{
    text-decoration: none;
    color: #3a3dff;
}
